#states {
  stroke: #d2d2d2;
  stroke-linejoin: round;
  fill: none;
}

#counties {
  stroke-width: 0.05px;
  stroke-opacity: 0.5;
}

#canvas {
  background: #f0f0f0;
  box-shadow: 0 0 5px #999999;
  display: block;
  margin: auto;
}

#title {
  text-anchor: middle;
  font-size: 2.2rem;
}

#description {
  text-anchor: middle;
  font-size: 1.1rem;
}

#tooltip {
  position: absolute;
  visibility: hidden;
  background: rgb(240, 240, 240, 0.7);
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  pointer-events: none;
}
